<nav >
  <a  href="http://localhost:4200/">
    <div class="title" i18n="@@title" [translate]="'nav.title'">
    <img src="assets/titleIcon.ico" style="height: 40px; width: 50px"> School_Application</div>
  </a>

  <div >
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/mark" i18n="@@markTitle" [translate]="'nav.marks'">Marks</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/student" i18n="@@studentTitle" [translate]="'nav.students'">Students</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/teacher" i18n="@@teacherTitle" [translate]="'nav.teachers'">Teachers</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/subject" i18n="@@subjectTitle" [translate]="'nav.subjects'">Subjects</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/term" i18n="@@termTitle" [translate]="'nav.terms'">Terms</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/course" i18n="@@courseTitle" [translate]="'nav.courses'">Courses</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/group" i18n="@@groupTitle" [translate]="'nav.groups'">Groups</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/lesson" i18n="@@lessonTitle" [translate]="'nav.lessons'">Lessons</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/marksForLesson" i18n="@@listOfMarksTitle" [translate]="'nav.listOfMarks'">List of Marks</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/teacher_group" i18n="@@teacherGroupTitle" [translate]="'nav.teachersInGroups'">Teachers in Groups</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/teacher_subject" i18n="@@teacherSubjectTitle" [translate]="'nav.teachersInSubjects'">Teachers in Subjects</a>
      </li>
      <li class="list-group-item list-group-item-primary">
        <a routerLink="/student_subject" i18n="@@studentSubjectTitle" [translate]="'nav.studentsInSubjects'">Students in Subjects</a>
      </li>
    </ul>
  </div>
</nav>
